/* The device with borders */
.smartphone {
  position: relative;
  width: 260px;
  height: 500px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  /* margin-left: -20px; */
  width: 230px;
  height: 500px;
  background: white;
  text-align: left;
}

.high-score {
  float: left;
  margin-left: 2px;
  font-weight: bold;
}

.countdown {
  float: right;
  margin-right: 2px;
  font-weight: bold;
}

.speech-bubble {
  text-align: center;
  margin: 10px 60px 0px 15px;
  padding: 5px;
  position: relative;
  background: #d9d9d9;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.594em solid transparent;
  border-right-color: #d9d9d9;
  border-left: 0;
  border-bottom: 0;
  margin-top: 0em;
  margin-left: -0.594em;
}

.reply-speech-bubble {
  text-align: center;
  margin: 10px 15px 5px 5px;
  padding: 5px;
  position: relative;
  background: #4186e6;
  border-radius: 0.4em;
}

.reply-speech-bubble:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.594em solid transparent;
  border-left-color: #297ef1;
  border-right: 0;
  border-bottom: 0;
  margin-top: -0.297em;
  margin-right: -0.594em;
}
