@font-face {
  font-family: "Avant-Garde-Gothic-Lt-Book-Regular";
  src: url("../fonts/ITC-Avant-Garde-Gothic-LT-Book-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Avant-Garde-Gothic-Lt-Bold";
  src: url("../fonts/ITC-Avant-Garde-Gothic-LT-Bold.otf") format("opentype");
}

.title {
  font-family: "Avant-Garde-Gothic-Lt-Book-Regular";
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-shadow: 1.8px 1.8px 2.75px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
