.card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
  width: 250px;
  height: 75px;
  box-shadow: 0 3px 6px rgba(153, 153, 153, 0.37),
    0 3px 6px rgba(153, 153, 153, 0.377);
  text-align: left;
}

.emoji {
  width: 50px;
  height: auto;
}

.emoji:hover {
  transform: translateY(-1.5px);
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.4));
}

.emoji:active {
  transform: translateY(-0.2px);
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.4));
}
