.card {
  background: #fff;
  border-radius: 2px;
  height: auto;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px rgba(153, 153, 153, 0.37),
    0 3px 6px rgba(153, 153, 153, 0.377);
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: rgb(255, 255, 255);
}
.card > .img-container > img {
  width: 100%;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: #000000;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.emoji > .remove:hover {
  color: #d50000;
}

.emoji:hover {
  transform: translateY(-1.5px);
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.4));
}

.emoji:active {
  transform: translateY(-0.2px);
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.4));
}
